.place-order {
    height: 60vh;
}

.transparent-dropdown .dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #000;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.transparent-dropdown .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 100%;
}

.transparent-dropdown .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.transparent-dropdown .dropdown-toggle::after {
    margin-top: 10px;
}

.markets-dorpdown {
    margin-bottom: 25px;
}

.dropdown-toggle-left-side {
    text-align: left;
    flex-grow: 1;
}

.dropdown-toggle-right-side {
    text-align: right;
    margin-right: 10px;
}