.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar-style {
  margin: 5px; 
  border-radius: 10px;
}

.navbar-style {
  margin: 5px; 
  border-radius: 10px;
}

.default-box-layout {
  margin: 5px;
  border-radius: 10px; 
  background-color: gray;
}

.admin-button {
  margin-right: 10px;
}