.admin-dropdown .admin-dropdown-toggle {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background-color: white !important;
    color: black !important;
}

.admin-dropdown .admin-dropdown-menu {
    width: 100%;
}

.admin-dropdown .admin-dropdown-toggle::after {
    margin-top: 10px;
}

.enable-disable-token-button {
    margin: 0px;
    padding: 0px !important;
    border: 0px !important;
}

.offcanvas {
    height: 60vh !important;
    background-color: #64708c !important;
    color: white !important;
}

.modal-content {
    background-color: #64708c !important;
    color: white !important;
}

.add-new-token {
    padding: 5px;
}

.add-quote-token {
    padding: 5px;
}

.table th, .table td {
    color: white !important;
}